<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
 <servlet>
<servlet-name>registordata</servlet-name>
<servlet-class>com.registration.Registration</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>registordata</servlet-name>
<url-pattern>/reg</url-pattern>
</servlet-mapping>

 <servlet>
<servlet-name>loginpage</servlet-name>
<servlet-class>com.registration.Login</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>loginpage</servlet-name>
<url-pattern>/login</url-pattern>
</servlet-mapping>

 <servlet>
<servlet-name>adminreg</servlet-name>
<servlet-class>com.registration.RegistrationWithAdmin</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>adminreg</servlet-name>
<url-pattern>/admin/adminregs</url-pattern>
</servlet-mapping>

</web-app>

